@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden !important;
}
/* ------------------------------------- Utilities start --------------------------------------- */
.fs__4 {
  font-size: 4rem;
}
.fs__normal{
  font-size: large;
}
.text__DarkBlue {
  color: #1d2e3b !important;
}
.text__DarkGrey {
  color: #60606b !important;
}
.text__Golden{
  color: #ffa500 !important;
}
.bg__SkyBlue {
  background-color: #1cbcff !important;
}
.bg__LightBlue{
    background-color: #b7daff2a;
}
.bg__DarkBlue{
  background-color: #172b56 !important;
}
.max__W-60{
    max-width: 60rem;
}
.max__W-50{
    max-width:50rem;
}
.border__Radius-15{
  border-radius: 15px;
}
/* ------------------------------------- Utilities end ----------------------------------------- */

/* ------------------------------ Bootstrap icon utility's start -------------------------------- */
.bi__bolder.bi::before {
  font-weight: bolder !important;
}

/* ------------------------------ Bootstrap icon utility's end ---------------------------------- */

.navbar-brand img {
  max-width: 336px;
  max-height: 56px;
}


@media screen and (max-width: 576px) {
  .navbar-brand img {
    max-width: 220px;
    max-height: 50px;
  }
  .fs__4 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .banner img{
    width: 620px;
    object-fit: cover;
  }
}

#Onepatient {
  margin-top: 6vh;
  margin-bottom: 6vh;
}
#Onepatient h3 {
  font-size: 60px;
  font-weight: bold;
}


/* gallery */
#Gallery {
  margin-top: 40px !important;
  margin-bottom: 50px;
}

.item-gal {
  width: auto;
  height: 300px !important;
  margin-left: 20px;
  margin-right: 20px;
}
.item-gal img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

/* before/after */
#Before-after {
  margin-top: 6vh !important;
}
#Before-after h3 {
  font-size: 60px;
  font-weight: bold;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow {
  left: -40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  background: #198754 !important;
}
.next-arrow {
  right: -40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  background: #198754 !important;
}
